@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body{
    height: 100vh;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

header{
    height: 15%;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: grey;
}

main{
    height: 75%;
    width: 100%;
    background: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

footer{
    height: 10%;
    width: 100%;
    background: grey;

}
.titleConteiner{
    display: flex;
    justify-content: center;
}
.title{
    font-size: 40px;
    font-weight: 700; 
    margin-bottom: 10px;
}

.buttonConteiner{
    display: flex;
    justify-content: flex-end;
}

.button{
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;
}

.signIn{
    background: none;
    color: #1abc9c;
    border: 3px solid #1abc9c;
}

.signUp{
    background: #1abc9c;
    color: white;
}
.list{
    list-style-type: none;
    display: flex;
}
.listItem{
    margin: 0 10px;
}
.leftcontent{
    display: flex;
    align-items: center;
}
.link{
    color: black;
    text-decoration: none;
}

.card{
    width: 300px;
    height: 200px;
    background: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin: 10px 10px;
    flex-shrink: 0;
    border-radius: 8px;
}